body {
    background-color: #d6e6f2;
}

header {
    background-color: #2f4f6e;
}

.logo {
    font-size: 24px;
}

.nav-link {
    color: #ffffff !important;
}

.custom-card {
    background-color: #6996b3;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card-title {
    color: #ffffff;
}

footer {
    background-color: #2f4f6e; /* Custom dark color */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-logo {
    width: 60px; /* Adjust the width to make the logo smaller */
    height: auto;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
}

footer .container {
    max-width: 960px;
}

.footer .social-icons a {
    font-size: 18px;
    color: white;
    margin: 0 10px;
    transition: color 0.2s;
}

.footer .social-icons a:hover {
    color: #007bff; /* Bootstrap primary color */
}
