body {
    background-color: #e9ecef;
    font-family: Arial, sans-serif;
}

.header-logo {
    width: auto;
    height: 80px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-logo {
    display: block;
    margin: 0 auto;
    height: 80px; 
}

.footer img {
    margin-top: 1rem;
}
